<style type="text/css">
  md-dialog {
    width: 65%;
  }
</style>

<md-dialog>
  <form>
    <md-dialog-content flex>
      <div >
        <div layout-gt-sm="row" class="animation">
          <md-card>
              <md-toolbar class="md-theme-indigo" layout-gt-sm="row" >
                  <md-button aria-label="search" class="md-icon-button-large" ng-click="addAction('search')">
                    Search
                  </md-button>
                  <md-button aria-label="say" class="md-icon-button-large" ng-click="addAction('say')">
                    Say
                  </md-button>
                  <md-button aria-label="open" class="md-icon-button-large" ng-click="addAction('open')">
                    Open
                  </md-button>
                  <md-button aria-label="open" class="md-icon-button-large" ng-click="addAction('close')">
                    Close
                  </md-button>
                  <md-button aria-label="open" class="md-icon-button-large" ng-click="addAction('new')">
                    New
                  </md-button>
                  <md-button aria-label="open" class="md-icon-button-large" ng-click="addAction('mute')">
                    Mute
                  </md-button>
                  <md-button aria-label="open" class="md-icon-button-large" ng-click="addAction('unmute')">
                    Unmute
                  </md-button>                  
              </md-toolbar> 


              <md-toolbar class="md-theme-indigo" layout-gt-sm="row" >
                  <md-button aria-label="open" class="md-icon-button-large" ng-click="addAction('read')">
                    Read
                  </md-button>
                  <md-button aria-label="open" class="md-icon-button-large" ng-click="addAction('copy')">
                    Copy
                  </md-button>
                  <md-button aria-label="open" class="md-icon-button-large" ng-click="addAction('cut')">
                    Cut
                  </md-button>
                  <md-button aria-label="open" class="md-icon-button-large" ng-click="addAction('paste')">
                    Paste
                  </md-button>
                  <md-button aria-label="open" class="md-icon-button-large" ng-click="addAction('amazon')">
                    Amazon
                  </md-button>
                  <md-button aria-label="open" class="md-icon-button-large" ng-click="addAction('reddit')">
                    Reddit
                  </md-button>

                  <span flex="" class="flex"></span>
                  <md-button class="md-button" ng-click="submitCommand()" style="color: #E66464;">
                    Submit
                  </md-button>
              </md-toolbar>


            <md-card-title>
              <md-card-title-text layout-gt-sm="row"> 
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Voice Command</label>
                  <input id="voice_command" ng-model="customVoiceCommand.name">
                </md-input-container>
                <md-container class="md-block" flex-gt-sm>
                  <label></label>
                </md-container>
              </md-card-title-text>
            </md-card-title>

            <md-card-actions>
            <md-container layout-gt-sm="col" ng-repeat="actiono in customVoiceCommand.commands">
              <md-input-container class="md-block" flex-gt-sm>
                <label>{{customVoiceCommand.commands[$index].command}} Action</label>
                <input id="action_{{$index}}" ng-model="customVoiceCommand.commands[$index].args" rows="10" md-select-on-focus>
                <md-icon ng-click="deleteAction($index)" class="md-secondary md-hue-3 trash-button">delete</md-icon>
              </md-input-container> 
            </md-container>
            </md-card-actions>


          </md-card>

        </div>
        <a id="bottom"></a>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>